@import '../../common-utility/commonStyles.scss';
.search-product-wrapper{
    padding-top: 14px;
    .search-bar-wrapper{
        display: flex;
        //background: #63513d;
        margin-bottom: 14px;
        color: #63513d;
        line-height: 48px;
    }
}